<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Datehired:</strong>
  <%= @employee.dateHired %>
</p>

<p>
  <strong>Borrowedequipment:</strong>
  <%= @employee.borrowedEquipment %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @employee.birthday %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
